<div class="search-box">
  {{input class="search-box__input" placeholder="Search extensions..." value=searchInput enter="search"}}
  {{#link-to "search" (query-params q=searchInput) class="search-box__submit"}}
    {{fa-icon 'fa-icon fa-search'}}
  {{/link-to}}
</div>
