body
  background: $tertiary-color
  color: $body-color
  font-family: $sans-ff
  font-size: $body-fs
  -webkit-font-smoothing: antialiased

h1
  @include margin(0 0 20px)
  font-size: 2.000em
  @include media($small-screen)
    font-size: 3.333em

h2
  @include margin(0)
  font-family: $mono-ff
  font-weight: 300
  font-size: 0.889em
  @include media($small-screen)
    font-size: 1.111em
