$primary-color: #3d466e
$secondary-color: #ef6e30

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro|Open+Sans:400,300,700);
$main-font: 'Open Sans', sans-serif
$logo-font: 'Anonymous Pro'
