input
  width: 100%
  color: $tertiary-color
  border: 0
  outline: 0

  &::-webkit-input-placeholder
    color: $light-color

  &:-moz-placeholder
    color: $light-color

  &::-moz-placeholder
    color: $light-color

  &:-ms-input-placeholder
    color: $light-color
