&
  +outer-container

  &__header
    +span-columns(3)
    &__title
      color: red

    &__description
      color: grey

  &__content
    +span-columns(1)

    &__counters
      &__item
        float: left
        display: inline
        margin-left: 1em
