&
  +outer-container(80%)
  border: 2px solid $primary-color
  background: white
  padding: 1em
  margin:
    bottom: 1em

  &__header
    +span-columns(2)
    &__title
      font-weight: bold

    &__description
      font-size: smaller

  &__content
    +span-columns(2)

    &__counters
      +clearfix
      text-align: right
      font-size: smaller

      &__item
        display: block
        display: inline
        margin-left: 1em
        +media($medium-screen)
          display: inline
        i
          color: $secondary-color

    &__link
      +button
      float: right
      margin-top: 1em
