&
  background: $primary-color
  padding: 3em 0 10em

  &__logo
    display: block
    width: 200px
    margin: 0 auto
    text-indent: -9999px
    width: 90px
    background: url('/assets/images/logo.svg')
    background-repeat: no-repeat

  &__title
    font-size: xx-large
    text-align: center
    color: white
    margin:
      top: 1em
      bottom: 2em

  .search-box
    @import "search-box"
