&
  background: $primary-color
  padding: 3em 0 10em
  z-index: 3
  overflow: hidden

  &__wrapper
   z-index: 3
   position: relative

  &__logo
    display: block
    width: 200px
    margin: 0 auto
    text-indent: -9999px
    width: 90px
    background: url('/assets/images/logo.svg')
    background-repeat: no-repeat

  &__title
    font-size: xx-large
    text-align: center
    color: white
    margin:
      top: 1em
      bottom: 2em

  &__solido
    z-index: 2
    content: ""
    display: block
    width: 1000px
    height: 1000px
    position: absolute
    left: 60%
    top: -350px
    background: url('/assets/images/solido.svg')
    background-repeat: no-repeat
    -webkit-animation: rotate 10s linear infinite
    animation: rotate 10s linear infinite

  .search-box
    @import "search-box"
