<div class="main-header">
  <h1 class="main-header__logo">Solidon</h1>
  <h2 id="search" class="main-header__title">Easily Search Solidus extensions.</h2>

  {{search-box search=(action 'search')}}
</div>

<div class="main-content">
  {{outlet}}
</div>
