<div class="main-header">
  <div class="main-header__wrapper">
    <div class="main-header__solido"></div>
    <div class="main-header__wrapper">
      <div class="container">
        <h1 class="main-header__logo">soliton</h1>
        <h2 id="search" class="main-header__title">Easily Search Solidus extensions.</h2>

      {{search-box search=(action 'search')}}
      </div>
    </div>
  </div>

</div>

<div class="main-content">
  {{outlet}}
</div>

<div class="main-footer">
  Made by
  <a href="http://nebulab.it" target="_blank" class="main-footer__nebulab-logo">Nebulab</a>
</div>
